body{
    background-color: white;
}

.header{
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.header .nav-links li a:hover{
    color:white;
}

footer{
    background-color: coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


footer a {
    color: inherit; /* Mantén el color de los enlaces consistente */
    text-decoration: none; /* Elimina subrayados, si los hay */
}

footer a:hover {
    text-decoration: underline; /* Opcional: subrayar enlaces al pasar el ratón */
}

.footer-one img {
    max-width: 100%; /* Limita el ancho al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina espacios extra alrededor de la imagen */
    margin-bottom: 20px; /* Añade espacio entre el logo y el texto */
}

.footer-one {
    overflow: hidden; /* Controla el desbordamiento */
    padding-right: 15px; /* Asegura espaciado dentro de la columna */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-one h5{
    font-size: xx-large;
}

.footer-one .row img {
    width: 100px; /* Ajusta al tamaño deseado */
    height: 100px; /* Igual al ancho para crear un cuadrado */
    object-fit: cover; /* Recorta la imagen para llenar el espacio */
    border-radius: 5px; /* Opcional: bordes redondeados */
}

.copyright .col-lg-3 img {
    max-width: 100%; /* La imagen no excederá el ancho de su columna */
    height: auto; /* Mantiene las proporciones */
    display: block; /* Asegura que no se desborde */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.sproduct select{
    display: block;
    padding: 5px 10px;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus{
    outline: none;
}

#add-to-cart-btn{
    background-color: coral;
    opacity: 1;
    transition: 0.3s all;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

#add-to-cart-btn:hover{
    background-color: rgba(255, 127, 80, 0.516);

}

.buy-btn{
    background-color: coral;
    opacity: 1;
    transition: 0.3s all;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.buy-btn:hover{
    background-color: rgba(255, 127, 80, 0.482);
}

.similarProduct{
    cursor: pointer;
    margin-bottom: 2rem;
}

.similarProduct img{
    transition: 0.3s all;
}

.similarProduct:hover img{
    opacity: 0.7;
}

.similarProduct .buy-button{
    background-color: black;
    transform: translateY(20);
    opacity: 0;
    transition: 0.3s all;
    cursor: pointer;
}

.similarProduct .buy-button:hover{
    background-color: coral;
}

.similarProduct:hover .buy-button{
    background-color: black;
    opacity: 1;
    transition: 0.3s all;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}