body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: coral;
    font-size: 20px;
}

.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.header .nav-links li a:hover{
    color:white;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

#cart-items {
    margin-bottom: 20px;
}

#cart-total {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 13px 30px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: rgba(255, 127, 80, 0.516);
    transform: scale(1.05);
}

button#buy-button {
    margin-left: 10px;
}

#clear-cart, #buy-button {
    display: inline-block;
}


